.employeeRow {
   background-color: var(--wt);
   align-items: center;
   border-top: 1rem solid var(--dk);
   border-bottom: 1rem solid var(--dk);
   /* box-shadow: inset 0 0 8px 2px var(--dk); */
   
}

.employeeRow img {
   height: 100%;
   width: 100%;
   border-radius: 10rem;
}

.employeeRow  td {
   font-family: 'Libre Baskerville', serif;
   font-size: 1.25rem;
   padding: 1rem;
}