.employeeRow {
   background-color: var(--wt);
   margin-bottom: 1rem;
   display: grid;
   grid-template-columns: 13% 13% 13% 13% 35% 13%;
   align-items: center;
   border-bottom-left-radius: 10rem;
   border-top-left-radius: 10rem;
   border-bottom-right-radius: 2rem;
   border-top-right-radius: 2rem;
   box-shadow: inset 0 0 8px 2px var(--dk);
   
}

.employeeRow img {
   height: 100%;
   width: 100%;
   border-radius: 10rem;
}

.employeeRow > div {
   font-family: 'Libre Baskerville', serif;
   font-size: 1.25rem;
   padding: 1rem;
}