.employeeRow {
   background-color: var(--wt);
   align-items: center;
   border-top: 1rem solid var(--dk);
   border-bottom: 1rem solid var(--dk);
   
}

.employeeRow img {
   max-height: 12rem;
   max-width: 12rem;
   border: 5px solid var(--wt);
   border-radius: 50%;
   box-shadow: 0 0 10px 4px var(--p1);
}

.employeeRow  td {
   font-family: 'Libre Baskerville', serif;
   font-size: 1.25rem;
   padding: 1rem;
}