.rowTitle {
   color: var(--wt);
   padding: 1rem;
   margin-bottom: 1rem;
}

   .colTitle {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 3fr 1fr;
   }

      .colTitle .colTitleItem {
         font-family: 'Special Elite', cursive;
         font-size: 1.5rem;
      }