.search {
   background-color: var(--wt);
   padding: 4rem;
}

   .search input {
      font-family: 'Libre Baskerville', serif;
      font-size: 1.75rem;
      text-align: center;
      background-color: var(--s2);
      color: var(--wt);
      min-width: 60rem;
      padding: 1.5rem;
      border-radius: 5rem;
      border: 0.5rem solid var(--s1);
      box-shadow: 5px 5px 15px 2px var(--s2),
                  inset 2px 2px 4px var(--dk);
   }
   
   .search input:hover {
      background-color: var(--p1);
      border: 0.5rem solid var(--p2);
      transition: ease-out 0.5s;
      box-shadow: 5px 5px 15px 2px var(--p1),
                  inset 3px 3px 6px var(--dk);
   }

   .search input::placeholder {
      font-family: 'Libre Baskerville', serif;
      font-size: 1.75rem;
      color: var(--wt);
      text-align: center;
      opacity: 0.8;
   }