table {
   width: 100%;
}

.tableHead {
   font-family: 'Special Elite', cursive;
   font-size: 1.5rem;
   color: var(--wt);
   margin-bottom: 1rem;
}

.tableHead > div {
   padding: 1rem;
}

.tableHead button {
   background-color: var(--dk);
   color: var(--wt);
   border: none;
}

.tableHead button:active {
   color: var(--p2)
}
