table {
   width: 100%;
}

.tableHead {
   font-family: 'Special Elite', cursive;
   font-size: 1.5rem;
   color: var(--wt);
}

.tableHead tr {
   height: 3rem;
 
}

.tableHead .photo {
   width: 15%;
}

.tableHead button {
   font-family: 'Special Elite', cursive;
   background-color: var(--dk);
   color: var(--wt);
   border: none;
}

.tableHead button:active {
   color: var(--p2)
}