* {
  box-sizing: border-box;
}

:root {
  --dk: #011F26;
  --p1: #118C76;
  --p2: #25D9B8;
  --s1: #F2BB16;
  --s2: #BF800B;
  --wt: #f2f2f2;
}

html {
  font-family: 'Libre Baskerville', serif;
  font-size: 10px;
}

h1 {
  font-family: 'Special Elite', cursive;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--dk);
  min-height: 100vh;
}

/* FONTS ---------------------------------------
font-family: 'Libre Baskerville', serif;
font-family: 'Special Elite', cursive;
*/

/* COLORS -------------------------------------
Color Theme Swatches in Hex */
.A { color: #011F26; }
.A { color: rgba(0, 31, 38, 1); }
.A { color: #118C76; }
.A { color: rgba(16, 140, 117, 1); }
.A { color: #25D9B8; }
.A { color: rgba(36, 216, 183, 1); }
.A { color: #F2BB16; }
.A { color: rgba(242, 187, 21, 1); }
.A { color: #BF800B; }
.A { color: rgba(191, 128, 11, 1); }
.A { color: #f2f2f2; }
.A { color: rgba(242, 242, 242, 1); }